.table-wrapper {
    height: calc(100vh - 200px); /* adjust as needed */
  overflow-y: auto;
  border: 1px solid #ddd;
}

.emp-table {
  width: 100%;
  border-collapse: collapse;
}

.emp-table th, .emp-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.emp-table th {
  position: sticky;
  top: 0;
  background-color:darkblue; /* keep header visible */
  z-index: 2;
}
